<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Descripción de Bluetooth -->
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>Esta aplicación utiliza Bluetooth para comunicarse con dispositivos cercanos.</string>
    <!-- Descripción de uso de la Red Local -->
    <key>NSLocalNetworkUsageDescription</key>
    <string>Esta aplicación necesita acceder a la red local para comunicarse con dispositivos cercanos.</string>
    <key>NSBonjourServices</key>
    <array>
        <string>_fium-pay._tcp.</string>
    </array>
    <key>NSFaceIDUsageDescription</key>
    <string>Esta aplicación utiliza Face ID para autenticar el pago de manera segura.</string>
    <key>NSCameraUsageDescription</key>
    <string>Esta aplicación utiliza la cámara para escanear códigos QR.</string>
</dict>
</plist>
